.search__page__container{
    display: grid;
    grid-template-columns: 60% 40%;
    height: stretch;
}

.search__map__container{
    background-color: black;
    height: 100%;
}

.search__list__container{
    padding-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search__list__item{
    display: grid;
    grid-template-rows: 70% 10% 5% 15%;
    height: 17.9rem;
    width: 13.55rem;
    margin-top: 1.1rem;
    font-size: .7rem;
    font-family: Raleway;
    align-items: center;
}

.search__list__item img{
    width: inherit;
    height: stretch;
    object-fit: cover;
    border-radius: .6rem;

}

.search__item__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__list__item > p{
    margin: 0;
}

.search__item__header > h5{
    font-size: .8rem;
    margin: 0;
}

.search__item__container{
    display: flex;
    align-items: center;
}

.search__loading__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
}