.signup__modal__container{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 28.5rem;
    height: 13rem;
}

.signup__modal__header{
    border-bottom: 1px solid rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-items: center;
}

.signup__modal__header > i{
    cursor: pointer;
    padding: 0.3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;;
}

.signup__modal__header > i:hover{
    background-color: rgb(245, 245, 245);
}

.signup__modal__header > h3{
    text-align: center;
    margin: 0;
    margin-right: 2.75rem;
    font-size: .8rem;
}

.signup__input__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-bottom: 1rem;
}

.signup__input__container > h4{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.signup__input__container > input{
    outline: none;
    border: 1px solid rgb(210, 210, 210);
    border-radius: .3rem;
    height: 2.5rem;
    padding-left: 1rem;
}

.signup__input__container > button{
    outline: none;
    background-color: rgb(0, 150, 255);
    border: 1px solid rgb(210, 210, 210);
    border-radius: .3rem;
    height: 2.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.fullname__input{
    display: flex;
    flex-direction: column;
}

.fullname__input > input{
    outline: none;
    border: 1px solid rgb(210, 210, 210);
    height: 2.5rem;
    padding-left: 1rem;
}

.firstname__input{
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: none;
}

.lastname__input{
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    border: none;
}