/* modal universal css */

.ReactModal__Overlay {
    opacity: 0;
    transition: .3s;
    z-index: 15;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .OuterModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border: none;
  }
  
  .InnerModal {
    text-decoration: none;
    background: white;
    height: fit-content;
    border-radius: .6rem;
  }
  
  .InnerModal:focus {
    outline: 0;
  }



.login__modal__container{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 28.5rem;
    height: 29.2rem;
}

.login__modal__header{

}

.login__modal__header > i{
    cursor: pointer;
}

.login__modal__header > i:hover{
    background-color: rgb(245, 245, 245);
}