.spot__page__container{
    margin-right: auto;
    margin-left: auto;
    width: 56.6rem;
    margin-bottom: 4rem;
    color: rgb(50, 50, 50);
}

.spot__page__header{
    font-family: Raleway;
    margin-top: 1.2rem;
}

.spot__page__header > h2{
    margin: 0;
}

.spot__page__subheader{
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-size: .7rem;
    margin-top: .3rem;
}

.spot__page__subheader > h3{
    margin: 0;
    margin-right: .2rem;
    font-weight: 500;
}

.spot__page__subheader > i{
    margin-right: .2rem;
    font-size: .6rem;
}

.spot__image__container{
    margin-top: 1.25rem;
    display: grid;
    height: 25.9rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 28rem 28.6rem;
}

.spot__image{
    height: 25.9rem;
    width: 28rem;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.spot__image__grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin-left: .5rem;
    height: 25.9rem;
}

.spot__grid__image{
    height: 98%;
    width: 97%;
}

.spot__grid__image:nth-child(2){
    border-top-right-radius: .6rem;
}

.spot__grid__image:nth-child(3){
    margin-top: .2rem;    
}

.spot__grid__image:nth-child(4){
    margin-top: .2rem;
    border-bottom-right-radius: .6rem;    
}

.spot__utility__container{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 32.7rem 1fr;
}

.spot__info__container{
    width: 32.7rem;

}

.spot__host__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.spot__host__container > h3{
    font-family: Raleway;
    font-size: 1rem;
}

.spot__host__container > img{
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
}

.spot__description__container{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.spot__description__container > p{
    margin: 0;
    font-family: Raleway;
    color:  rgb(100, 100, 100);
}

.spot__amenity__container > p{
    margin: 0;
    color:  rgb(100, 100, 100);
}

.spot__booking__container{
    width: 18rem;
    margin-left: auto;
    box-shadow: 0rem .01rem 1rem rgb(196, 196, 196);
    border-radius: .7rem;
}

.booking__header__container{
    font-family: Raleway;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.booking__header__container > div{
    display: flex;
    align-items: center;
}

.booking__header__price > h3{
    margin-top: .5rem;
}


.booking__header__price > p{
    margin-left: .2rem;
    font-size: .8rem;
}

.booking__header__rating{
    margin-top: -.2rem;
}

.booking__header__rating > p{
    font-size: .7rem;
    text-decoration: underline;
    color: rgb(90, 90, 90);
    margin-left: .2rem;
}

.booking__header__rating > h5{
    font-size: .7rem;
    margin-top: 1rem;
}

.booking__header__rating > i{
    font-size: .5rem;
    margin-right: .1rem;
    margin-top: -.1rem;
}

.rdrMonthAndYearWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
  }
  
.rdrMonthAndYearWrapper select {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
  }
  
.rdrMonthAndYearWrapper button {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #dddddd;
  }
  
.rdrWeekDays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* margin-right: 10px; */
    justify-content: center;
  }
  
.rdrWeekDays > span {
    color: #484848;
    /* color: #217a2c; */
  }

.rdrWeekDay {
    margin-left: 15px;
  }

.rdrDays {
    display: grid;
    background-color: #dddddd;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
.rdrDays > button {
    border: none;
    background-color: #dddddd;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
  }
  
.rdrDayNumber > span {
    color: #484848;
  }
  
.rdrMonth {
    background-color: #dddddd;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
  }
  
.rdrDayDisabled span {
    color: rgb(185, 185, 185);
    text-decoration: line-through;
  }
    
.rdrDay{
      cursor: pointer;
    }

.rdrDayDisabled {
      cursor: not-allowed;
    }

.rdrDay:hover {
    background-color: red;
    transition: 0.5s;
  }

.rdrDayDisabled:hover {
    background-color: #dddddd;
  }
  