.home__list__container{
    /* margin-top: 8.5rem; */
    margin-left: 4rem;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home__list__item{
    display: grid;
    grid-template-rows: 70% 10% 5% 15%;
    height: 17.9rem;
    width: 13.55rem;
    margin-top: 1.1rem;
    font-size: .7rem;
    font-family: Raleway;
    align-items: center;
}

.home__list__item img{
    width: inherit;
    height: stretch;
    object-fit: cover;
    border-radius: .6rem;

}

.list__item__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__list__item > p{
    margin: 0;
}

.list__item__header > h5{
    font-size: .8rem;
    margin: 0;
}

.list__item__container{
    display: flex;
    align-items: center;
}