@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.navbar__container{
    position: absolute;
    width: 100%;
    height: 8rem;
    box-shadow: 0rem .01rem 1rem rgb(235, 235, 235);
}

.navbar__main{
    height: 50%;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4.85rem;
}

.navbar__main__logo{
    height: 100%;
    color: rgb(0, 150, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__main__logo > h1{
    font-family: Raleway;
    font-size: 1.2rem;
    padding-left: .3rem;
}

.navbar__main__logo > i{
    font-size: 1.5rem;
}

.navbar__main__search{
    height: 2.3rem;
    width: 17.55rem;
    border-radius: 5rem;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0rem .1rem .2rem rgb(235, 235, 235);
    margin-left: 6.65rem;
    transition: .2s;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    font-size: .7rem;
    font-weight: 500;
    justify-items: center;
    align-items: center;
}

.navbar__main__search:hover{ 
    box-shadow: 0rem .15rem .2rem rgb(210, 210, 210);
}

.search__button__left{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search__button__center{
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
}

.search__button__right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-weight: 400;
    color:rgb(200, 200, 200)
}

.search__button__right > i{
    color: white;
    background-color: rgb(0, 150, 255);
    padding: .5rem;
    border-radius: 1rem;
    font-size: .6rem;
}

.navbar__main__account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.9rem;
}

.navbar__main__account > p{
    font-size: .725rem;
    font-weight: 500;
    margin-top: .6rem;
    cursor: pointer;
    padding: .5rem;
    margin-left: -.5rem;
    border-radius: 1rem;
}

.navbar__main__account > p:hover{
    background-color: rgb(245, 245, 245);
    
}

.navbar__main__account > i{
    font-size: .7rem;
    cursor: pointer;
    padding: .5rem;
    margin-left: -.5rem;
    border-radius: 1rem;
}

.navbar__main__account > i:hover{
    background-color: rgb(245, 245, 245);
}

.navbar__account__button{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5rem;
    width: 3.75rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.navbar__account__button:hover{
    box-shadow: 0rem .1rem .2rem rgb(210, 210, 210);
}

.navbar__account__button > img{
    height: 1.45rem;
    border-radius: 1rem;
    margin-right: .25rem;
}

.navbar__account__button > i{
    font-size: .7rem;
    margin-left: .7rem;
}

.navbar__amenities{
    height: 50%;
    width: 87rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 4rem;
}

.amenity__selector{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    color:rgb(150, 150, 150);
    border-bottom: .1rem solid rgb(245, 245, 245);;
    transition: .2s;
}

.amenity__selector > i{
    font-size: 1.2rem;
}

.amenity__selector > p{
    font-size: .7rem;
    margin: 0;
}

.amenity__selector:hover{
    color: black;
    border-bottom: .1rem solid rgb(200, 200, 200);
}

#amenity__active{
    color: black;
    border-bottom: .1rem solid black;
}

.filters__button{
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    width: 4.5rem;
    height: 2.3rem;
    align-items: center;
    justify-content: space-around;
    border-radius: .6rem;
    font-weight: 500;
    color: black;
    font-size: .6rem;
    cursor: pointer;
}

.filters__button > i{
    font-size: 1rem;
}

.account__menu {
    position: absolute;
    height: 10rem;
    width: 12rem;
    background-color: white;
    top: 3.6rem;
    right: 4.9rem;
    box-shadow: 0rem .01rem 1rem rgb(235, 235, 235);
    border-radius: .7rem;
}

.account__menu__1{
    height: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .7rem;
    border-bottom: 1px solid rgb(200, 200, 200)
}

.account__menu__2{
    height: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .7rem;
}

.account__menu p{
    display: flex;
    align-items: center;
    height: 1.9rem;
    margin: 0;
    padding-left: 1rem;
    cursor: pointer;
}

.account__menu p:hover{
    background-color: rgb(245, 245, 245);
}

#login__button{
    font-weight: 500;
}