@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.navbar__container{
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.navbar__main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4.85rem;
}

.navbar__main__logo{
    height: 100%;
    color: rgb(0, 150, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__main__logo > h1{
    font-family: Raleway;
    font-size: 1.2rem;
    padding-left: .3rem;
}

.navbar__main__logo > i{
    font-size: 1.5rem;
}

.navbar__main__search{
    height: 2.3rem;
    width: 17.55rem;
    border-radius: 5rem;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0rem .1rem .2rem rgb(235, 235, 235);
    margin-left: 6.65rem;
    transition: .2s;
    font-size: .7rem;
    font-weight: 500;
    justify-items: center;
    align-items: center;
}

.navbar__main__search > form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-right: .75rem;
    margin-left: 1rem;
}

.navbar__main__search button{
    border: none;
    background: none;
    cursor: pointer;
}

.navbar__main__search:hover{ 
    box-shadow: 0rem .15rem .2rem rgb(210, 210, 210);
}

.navbar__main__search i{
    color: white;
    background-color: rgb(0, 150, 255);
    padding: .5rem;
    border-radius: 1rem;
    font-size: .6rem;
}

.navbar__main__search input{
    border: none;
    outline: none;
    font-family: Raleway;
}

.navbar__main__account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.9rem;
}

.navbar__main__account > p{
    font-size: .725rem;
    font-weight: 500;
    margin-top: .6rem;
    cursor: pointer;
    padding: .5rem;
    margin-left: -.5rem;
    border-radius: 1rem;
}

.navbar__main__account > p:hover{
    background-color: rgb(245, 245, 245);
}

.navbar__main__account > i{
    font-size: .7rem;
    cursor: pointer;
    padding: .5rem;
    margin-left: -.5rem;
    border-radius: 1rem;
}

.navbar__main__account > i:hover{
    background-color: rgb(245, 245, 245);
}

.navbar__account__button{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5rem;
    width: 3.75rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.navbar__account__button:hover{
    box-shadow: 0rem .1rem .2rem rgb(210, 210, 210);
}

.navbar__account__button > img{
    height: 1.45rem;
    width: 1.45rem;
    border-radius: 1rem;
    border: 2px solid rgb(165, 165, 165);
    margin-right: .25rem;
}

.navbar__account__button > i{
    font-size: .7rem;
    margin-left: .7rem;
    margin-top: .1rem;
}

